// Sine
$easeInSine     : cubic-bezier(0.470, 0.000, 0.745, 0.715);
$easeOutSine    : cubic-bezier(0.390, 0.575, 0.565, 1.000);
$easeInOutSine  : cubic-bezier(0.445, 0.050, 0.550, 0.950);

// Quad
$easeInQuad     : cubic-bezier(0.550, 0.085, 0.680, 0.530);
$easeOutQuad    : cubic-bezier(0.250, 0.460, 0.450, 0.940);
$easeInOutQuad  : cubic-bezier(0.455, 0.030, 0.515, 0.955);

// Cubic
$easeInCubic     : cubic-bezier(0.550, 0.055, 0.675, 0.190);
$easeOutCubic    : cubic-bezier(0.215, 0.610, 0.355, 1.000);
$easeInOutCubic  : cubic-bezier(0.645, 0.045, 0.355, 1.000);

// Quart
$easeInQuart    : cubic-bezier(0.895, 0.030, 0.685, 0.220);
$easeOutQuart   : cubic-bezier(0.165, 0.840, 0.440, 1.000);
$easeInOutQuart : cubic-bezier(0.770, 0.000, 0.175, 1.000);

// Quint
$easeInQuint    : cubic-bezier(0.755, 0.050, 0.855, 0.060);
$easeOutQuint   : cubic-bezier(0.230, 1.000, 0.320, 1.000);
$easeInOutQuint : cubic-bezier(0.860, 0.000, 0.070, 1.000);

// Expo
$easeInExpo     : cubic-bezier(0.950, 0.050, 0.795, 0.035);
$easeOutExpo    : cubic-bezier(0.190, 1.000, 0.220, 1.000);
$easeInOutExpo  : cubic-bezier(1.000, 0.000, 0.000, 1.000);

// Circ
$easeInCirc     : cubic-bezier(0.600, 0.040, 0.980, 0.335);
$easeOutCirc    : cubic-bezier(0.075, 0.820, 0.165, 1.000);
$easeInOutCirc  : cubic-bezier(0.785, 0.135, 0.150, 0.860);

// Back
$easeInBack     : cubic-bezier(0.600, -0.280, 0.735, 0.045);
$easeOutBack    : cubic-bezier(0.175,  0.885, 0.320, 1.275);
$easeInOutBack  : cubic-bezier(0.680, -0.550, 0.265, 1.550);

// default ease
$ease           : ease;
$linear         : linear;
$easeIn         : ease-in;
$easeOut        : ease-out;
$easeInOut      : ease-in-out;

//////////////////////////////////////////////////////////////////////

$IMG_PATH: '/assets/images/';

$MQ_BREAKPOINT_XSP_MAX: 374px;
$MQ_BREAKPOINT_SP_MAX: 767px;
$MQ_BREAKPOINT_TAB_MIN: 768px;
$MQ_BREAKPOINT_TAB_MAX: 1023px;
$MQ_BREAKPOINT_PC_MIN: 1024px;

//$BASE_COLOR: #fff;
//
//$CONTAINER_WIDTH-PC: 1024px;
//$CONTAINER_WIDTH-TAB: 768px;
//$CONTAINER_WIDTH-SP: (750px / 2);
//$CONTAINER_WIDTH-XSP: (640px / 2);
//
//$CONTAINER_PADDING-PC: 32px;
//$CONTAINER_PADDING-TAB: 30px;
//$CONTAINER_PADDING-SP: (40px / 2);
//$CONTAINER_PADDING-XSP: (40px / 2);
//
//$CONTAINER_WIDTH_IN-PC: ($CONTAINER_WIDTH-PC - $CONTAINER_PADDING-PC * 2);
//$CONTAINER_WIDTH_IN-TAB: ($CONTAINER_WIDTH-TAB - $CONTAINER_PADDING-TAB * 2);
//$CONTAINER_WIDTH_IN-SP: ($CONTAINER_WIDTH-SP - $CONTAINER_PADDING-SP * 2);
//$CONTAINER_WIDTH_IN-XSP: ($CONTAINER_WIDTH-XSP - $CONTAINER_PADDING-XSP * 2);
//
//$FONT_FAMILY: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
//$FONT_FAMILY_MINCHO: "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "游明朝", YuMincho, "メイリオ", Meiryo, serif;

//$FONT_SIZE: 16px;
//$LINE_HEIGHT: 1.6;
//
//$FONT_COLOR: #000;
//$LINK_COLOR: $FONT_COLOR;

//$HOVER_TRANSITION_DURATION: .2s;
//$HOVER_TRANSITION_OPACITY: opacity $HOVER_TRANSITION_DURATION ease;
//$HOVER_TRANSITION_COLOR: color $HOVER_TRANSITION_DURATION ease;
//$HOVER_TRANSITION_BG_COLOR: background-color $HOVER_TRANSITION_DURATION ease;
//$HOVER_TRANSITION_BORDER: border $HOVER_TRANSITION_DURATION ease;
//$HOVER_OPACITY: .7;

//$IMAGE_UPDATE: '?u=20180101';
