/**
 * Mixin
 */

@mixin clearfix {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

@mixin hideaway {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

// SMART PHONE
@mixin mq-xsp {
  @media screen and (max-width: #{$MQ_BREAKPOINT_XSP_MAX}) {
    @content;
  }
}
@mixin mq-sp {
  @media screen and (max-width: #{$MQ_BREAKPOINT_SP_MAX}) {
    @content;
  }
}

// TABLET
@mixin mq-tab {
  @media screen and (min-width: #{$MQ_BREAKPOINT_TAB_MIN}) and (max-width: #{$MQ_BREAKPOINT_TAB_MAX}) {
    @content;
  }
}
@mixin mq-tab-gt {
  @media screen and (min-width: #{$MQ_BREAKPOINT_TAB_MIN}) {
    @content;
  }
}
@mixin mq-tab-lt {
  @media screen and (max-width: #{$MQ_BREAKPOINT_TAB_MAX}) {
    @content;
  }
}

// PC
@mixin mq-pc {
  @media screen and (min-width: #{$MQ_BREAKPOINT_PC_MIN}) {
    @content;
  }
}

// landscape
@mixin mq-landscape {
  @media screen and (orientation: landscape) {
    @content;
  }
}
