</div><!-- ./l-main -->

<%- include('./_footer') %>

</div><!-- ./l-wrap -->

<script src="<%- JS_PATH %>libs.js"></script>
<script src="<%- JS_PATH %>common.js"></script>
<%_ if (Array.isArray(page.scripts)) { _%>
<%_ page.scripts.forEach(function(script) { _%>
<script src="<%- script %>"></script>
<%_ }) _%>
<%_ } _%>
</body>
</html>
