@use "../../_common/mixin" as *;

/**
 * Container
 */
.c-container {
  @include mq-tab-gt {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 1024px;
  }

  @include mq-sp {
    width: 100%;
  }
}
